#Required for /restaurants
HASH_SECRET=53f00202ad
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
AZURE_COMMUNICATION_CONNECTION_STRING=

#Also Required for /restaurants
#Required for /tours
GOOGLE_PLACES_API_KEY=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_SECRET=53f00202ad